{{link-to 'go home' 'index'}} -> {{link-to 'go to outer' 'outer'}} -> {{link-to 'go to inner' 'outer.inner'}}

<button {{action 'testAction1'}}>testAction1</button>
<button {{action 'testAction2'}}>testAction2</button>

<h1>Test Application</h1>

{{outlet}}
