<div class="menu" style="float: left;">
  {{link-to 'home' 'index'}}
  <div>
    {{link-to 'outer' 'outer'}}
    <div>
      {{link-to 'inner' 'outer.inner'}}
      <div> {{link-to 'nested:34' 'outer.inner.nested' '34'}} </div>
      <div> {{link-to 'nested:77' 'outer.inner.nested' '77'}} </div>
    </div>
  </div>
  <div>
    {{link-to 'main' 'main'}}
    <div> {{link-to 'record:7' 'main.record' '7'}} </div>
    <div> {{link-to 'record:8' 'main.record' '8'}} </div>
    <div> {{link-to 'record:9' 'main.record' '9'}} </div>
  </div>
</div>

<div style="float: left; margin-left: 50px;">
  <span style="font-size:50px;">Test Application</span>

  {{outlet}}

  <br>

  <div style="text-align: center;">
    <button {{action 'testAction1' 'arg11' 'arg12'}}>testAction1</button>
    <button {{action 'testAction2' 'arg21'        }}>testAction2</button>
    <button {{action 'testAction3'                }}>testAction3</button>
  </div>
</div>

<div style="clear: both;"></div>
